/*Fonts*/


h1, h2, h3, h4, h5, h6 {
    font-family: 'Balsamiq Sans';
    font-size: 28px;
	font-weight: bold;
}

p, .footer-content {
    font-family: 'Balsamiq Sans';
    font-size: 16px;
    color: white;
}
.game-page-link {
    font-family: 'Balsamiq Sans';
    font-size: 24px;
    color: rgba(255, 192, 0, 1);
}

.game-page-link:hover {
    color: yellow;
}

body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    background: url(background.png) no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
}

.game-pages-panel {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
}

.logo {
    margin: 40px 0 20px 0;
}

    .logo img {
        width: 100%;
        height: auto;
        max-width: 1300px;
    }

.gallery-container {
    width: 99%;
    overflow-x: scroll;
    padding: 4px 4px;
}

.gallery {
    display: flex;
    gap: 10px;
    width: max-content;
    padding-bottom: 10px;
}

    .gallery img {
        width: auto;
        height: 200px;
        object-fit: contain;
        cursor: zoom-in;
        transition: transform 0s ease, box-shadow 0s ease;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    }

        .gallery img:hover {
            transform: scale(1.02);
            /*box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);*/
        }

        /* Кастомный скроллбар */
        .gallery-container::-webkit-scrollbar {
            height: 8px;
        }

        .gallery-container::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.1);
            border-radius: 4px;
        }

        .gallery-container::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.3);
            border-radius: 4px;
        }

            .gallery-container::-webkit-scrollbar-thumb:hover {
                background: rgba(255, 255, 255, 0.5);
            }



.description {
    text-align: justify;
    margin-top: 60px;
    margin-bottom: 40px;
    color: white;
    padding: 0 10%;
}

#play_game_title,#source_title {
	font-size: 42px;
}

/* Только на смартфоне */
@media (max-width: 768px){
.description {
	padding: 0;} 
	
    .gallery img {
        width: auto;
        height: 120px;
    }
    
    .text_image {
	    width: 100%
    }
    
h1, h2, h3, h4, h5, h6 {
    font-size: 24px;
}

#play_game_title,#source_title {
	font-size: 30px;
}

}
/* =================== */


.text_image {
	display: block; margin-left: auto; margin-right: auto
}


ul.custom-list {
    list-style-type: none;
    padding-left: 1em;
}

    ul.custom-list li::before {
        content: "·";
        margin-right: 0.5em;
        font-weight: bold;
    }

.buttons-section {
    position: relative;
    width: 100%;
    margin: 10px 0;
    text-align: center;
}
	
.buttons-panel {
    display: inline-block;
    position: relative;
    padding: 10px;
    margin: 0 auto;
}

.buttons-panel::before {
    content: "";
    position: absolute;
    top: -3px;  /* Изменено с -5px на -1px */
    left: -3px; /* Изменено с -5px на -1px */
    right: -3px; /* Изменено с -5px на -1px */
    bottom: -3px; /* Изменено с -5px на -1px */
    border: 3px solid transparent; /* Изменено с 6px на 1px */
    /* border-image: url('panel2.png') 1 fill / 1px repeat;  Изменено с 6 fill / 6px stretch */
    background: transparent;
    pointer-events: none;
    z-index: 0;
    opacity: 1;
    background-color: transparent;
    filter: brightness(100%);
}

.buttons {
    display: flex;
    gap: 10px;
    width: max-content;
    margin: 0 auto;
    position: relative;
    z-index: 1;
	justify-content: center;
}

.button-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    transition: filter 0s ease;
}

.game-link-icon{
    width: auto;
    height: 32px;
}

.button-icon {
    width: auto;
    height: 64px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    filter: brightness(100%);
    transition: filter 0s ease;
}

.button-hover-icon,
.source-button-hover-icon {
    width: auto;
    height: 64px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.button-hover-icon,
.source-button-hover-icon {
    position: absolute;
    top: 0;
    left: 0;
    transition: filter 0s ease;
}

.button-link:hover .button-icon {
    filter: brightness(90%);
}

.button-link:hover .button-hover-icon,
.button-link:hover .source-button-hover-icon {
    filter: brightness(90%);
}

.buttons-title {
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.source-code-section {
    position: relative;
    width: 100%;
    margin: 40px 0;
    text-align: center;
    color: white;
}

.source-code-panel {
    display: inline-block;
    position: relative;
    padding: 10px;
    margin: 10px auto;
}

    .source-code-panel::before {
        content: "";
    position: absolute;
    top: -3px;  /* Изменено с -5px на -1px */
    left: -3px; /* Изменено с -5px на -1px */
    right: -3px; /* Изменено с -5px на -1px */
    bottom: -3px; /* Изменено с -5px на -1px */
    border: 3px solid transparent; /* Изменено с 6px на 1px */
    /* border-image: url('panel2.png') 1 fill / 1px repeat; Изменено с 6 fill / 6px stretch */
    background: transparent;
    pointer-events: none;
    z-index: 0;
    opacity: 1;
    background-color: transparent;
    filter: brightness(100%);
	
    }

    .source-code-panel .button-icon {
        width: auto;
        height: 64px;
    }

.source-buttons {
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    z-index: 1;
}

#countdown-timer {
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
  width: max-content;
  min-width: 250px;
  font-family: 'Balsamiq Sans';
  font-size: 28px;
}

@media (max-width: 500px) {
    .source-buttons {
        flex-direction: column;
        gap: 15px;
    }

    .source-code-panel::before {
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        border-width: 15px;
    }
	
	.buttons-panel::before {
		top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        border-width: 15px;
	}

	.buttons {
		flex-direction: column;
        gap: 15px;
	}
}

.footer-content {
    text-align: center;
    margin-top: 40px;
    font-family: 'Tahoma', sans-serif;
    font-size: 16px;
}

.footer-link {
    color: inherit;
    text-decoration: none;
}

    .footer-link:hover,
    .footer-link:visited,
    .footer-link:active {
        color: inherit;
        text-decoration: none;
    }

#fullscreen-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    touch-action: pan-y;
}

.fullscreen-gallery {
    position: relative;
    max-width: 80%;
    max-height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fullscreen-image {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 6px;
}

#close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    transition: opacity 0s;
}

    .nav-btn:hover {
        opacity: 1;
        background: rgba(255, 255, 255, 0.3);
    }

#prev-btn {
    left: 40px;
}

#next-btn {
    right: 40px;
}

@media (max-width: 768px) {
    .nav-btn {
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
    }
    
.nav-btn {
    position: absolute;
    top: auto;
    bottom: 40px;
    visibility: hidden;
}    
}

#language-switcher {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 1000;
}

#language-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 64px;
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    opacity: 0.5;
}

    #language-button img {
        width: auto;
        height: 64px;
        position: relative;
        z-index: 0;
    }

    #language-button::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        transition: background-color 0.2s ease;
        z-index: 1;
    }

    #language-button:hover {
        opacity: 1;
    }

.game-link-icon {margin-right: 8px;}

.game-pages-list {
	list-style-type: none;
	padding-left: 0;
}
    .game-pages-list li { margin-bottom: 15px; }
    .game-pages-list li:last-child { margin-bottom: 0; }