@font-face {
    font-family: 'Balsamiq Sans';
    src: url('BalsamiqSans.woff2') format('woff2'),
        url('BalsamiqSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Balsamiq Sans Bold';
    src: url('BalsamiqSans-Bold.woff2') format('woff2'),
        url('BalsamiqSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
